__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.DS_Store

runs/
*.pt
*.pth
*.ckpt

figures/*.png
figures/*.pdf
figures/*.json
!figures/.gitkeep

*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.toc
